[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
python-dotenv = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-ses = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.13"
